blinkingLEDs_RPi.txt
[{"id":"c7f492d0.6c9f8","type":"tab","label":"Blinking LEDs","disabled":false,"info":""},{"id":"c38e58e.9f78ba8","type":"udp in","z":"c7f492d0.6c9f8","name":"","iface":"","port":"54321","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":60,"y":460,"wires":[["118832b4.e6f17d"]]},{"id":"118832b4.e6f17d","type":"function","z":"c7f492d0.6c9f8","name":"udp2array","func":"// this function gets UDP data\n// and converts it to array\n\nvar input = msg.payload;\ninput = input.replace(new RegExp(\"'\", 'g'), \"\\\"\")\n  .replace(new RegExp(\"{\", 'g'), \"[\")\n  .replace(new RegExp(\"}\", 'g'), \"]\");\n\nvar data = JSON.parse(input)\n\nvar value = 0;\nfor(var i=2; i < data.length; i++) {\n    if(data[i] < 0)\n        value += data[i];\n}\n\nvalue = Math.abs(value);\n\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":460,"wires":[["944c801.428ff8"]]},{"id":"944c801.428ff8","type":"switch","z":"c7f492d0.6c9f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"10000000","vt":"num","v2":"80000000","v2t":"num"},{"t":"gt","v":"80000000","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":460,"wires":[["39770f8a.d8c4a"],["c23c809c.1ec37"]]},{"id":"39770f8a.d8c4a","type":"trigger","z":"c7f492d0.6c9f8","op1":"1","op2":"STOP","op1type":"str","op2type":"str","duration":"3","extend":false,"units":"s","reset":"","bytopic":"all","name":"cycle_start_stop","x":660,"y":360,"wires":[["b3d11107.d0bf","2d20b3fe.8e47ec"]]},{"id":"b3d11107.d0bf","type":"trigger","z":"c7f492d0.6c9f8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-500","extend":false,"units":"ms","reset":"STOP","bytopic":"all","name":"send 1","x":810,"y":380,"wires":[["75a07015.3a95d"]]},{"id":"75a07015.3a95d","type":"file","z":"c7f492d0.6c9f8","name":"","filename":"/sys/class/leds/led0/brightness","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1170,"y":360,"wires":[[]]},{"id":"a6d519fc.899298","type":"trigger","z":"c7f492d0.6c9f8","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"-500","extend":false,"units":"ms","reset":"STOP","bytopic":"all","name":"send 0","x":970,"y":340,"wires":[["75a07015.3a95d"]]},{"id":"2d20b3fe.8e47ec","type":"delay","z":"c7f492d0.6c9f8","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":340,"wires":[["a6d519fc.899298"]]},{"id":"cbc3488d.3fca38","type":"comment","z":"c7f492d0.6c9f8","name":"This is SLOW blinking loop","info":"","x":730,"y":280,"wires":[]},{"id":"c23c809c.1ec37","type":"trigger","z":"c7f492d0.6c9f8","op1":"1","op2":"STOP","op1type":"str","op2type":"str","duration":"3","extend":false,"units":"s","reset":"","bytopic":"all","name":"cycle_start_stop","x":620,"y":620,"wires":[["b2f7b98b.0f1348","cb2c2290.079eb"]]},{"id":"b2f7b98b.0f1348","type":"trigger","z":"c7f492d0.6c9f8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-250","extend":false,"units":"ms","reset":"STOP","bytopic":"all","name":"send 1","x":770,"y":640,"wires":[["cf813f4.f32bfc"]]},{"id":"cf813f4.f32bfc","type":"file","z":"c7f492d0.6c9f8","name":"","filename":"/sys/class/leds/led1/brightness","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1150,"y":640,"wires":[["95b6633b.e050a"]]},{"id":"1632827b.60ba9e","type":"trigger","z":"c7f492d0.6c9f8","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"-250","extend":false,"units":"ms","reset":"STOP","bytopic":"all","name":"send 0","x":930,"y":600,"wires":[["cf813f4.f32bfc"]]},{"id":"cb2c2290.079eb","type":"delay","z":"c7f492d0.6c9f8","name":"","pauseType":"delay","timeout":"125","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":600,"wires":[["1632827b.60ba9e"]]},{"id":"c727b81e.7f9108","type":"comment","z":"c7f492d0.6c9f8","name":"This is FAST blinking loop","info":"","x":730,"y":540,"wires":[]},{"id":"95b6633b.e050a","type":"file","z":"c7f492d0.6c9f8","name":"","filename":"/sys/class/leds/led0/brightness","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1250,"y":760,"wires":[[]]}]
