blinkingLEDs_RPi.txt
[
    {
        "id": "f0baf62c.5cb6c8",
        "type": "tab",
        "label": "Blinking LEDs",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9decc8fa.8939e8",
        "type": "udp in",
        "z": "f0baf62c.5cb6c8",
        "name": "",
        "iface": "",
        "port": "54321",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 60,
        "y": 460,
        "wires": [
            [
                "f59eb6fa.fc63b8"
            ]
        ]
    },
    {
        "id": "f59eb6fa.fc63b8",
        "type": "function",
        "z": "f0baf62c.5cb6c8",
        "name": "udp2array",
        "func": "// this function gets UDP data\n// and converts it to array\n\nvar input = msg.payload;\ninput = input.replace(new RegExp(\"'\", 'g'), \"\\\"\")\n  .replace(new RegExp(\"{\", 'g'), \"[\")\n  .replace(new RegExp(\"}\", 'g'), \"]\");\n\nvar data = JSON.parse(input)\n\nvar value = 0;\nfor(var i=2; i < data.length; i++) {\n    if(data[i] < 0)\n        value += data[i];\n}\n\nvalue = Math.abs(value);\n\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 460,
        "wires": [
            [
                "986cad87.00d41"
            ]
        ]
    },
    {
        "id": "986cad87.00d41",
        "type": "switch",
        "z": "f0baf62c.5cb6c8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "10000000",
                "vt": "num",
                "v2": "80000000",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "80000000",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 460,
        "wires": [
            [
                "450d1c41.2d9b54"
            ],
            [
                "56ea3f66.6b6b5"
            ]
        ]
    },
    {
        "id": "450d1c41.2d9b54",
        "type": "trigger",
        "z": "f0baf62c.5cb6c8",
        "op1": "1",
        "op2": "STOP",
        "op1type": "str",
        "op2type": "str",
        "duration": "3",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "cycle_start_stop",
        "x": 660,
        "y": 360,
        "wires": [
            [
                "c80c240.ddadae",
                "65b70a42.92cb14"
            ]
        ]
    },
    {
        "id": "c80c240.ddadae",
        "type": "trigger",
        "z": "f0baf62c.5cb6c8",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-500",
        "extend": false,
        "units": "ms",
        "reset": "STOP",
        "bytopic": "all",
        "name": "send 1",
        "x": 810,
        "y": 380,
        "wires": [
            [
                "88a1287d.405168"
            ]
        ]
    },
    {
        "id": "88a1287d.405168",
        "type": "file",
        "z": "f0baf62c.5cb6c8",
        "name": "",
        "filename": "/sys/class/leds/led0/brightness",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 1170,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "136fa931.b58037",
        "type": "trigger",
        "z": "f0baf62c.5cb6c8",
        "op1": "0",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-500",
        "extend": false,
        "units": "ms",
        "reset": "STOP",
        "bytopic": "all",
        "name": "send 0",
        "x": 970,
        "y": 340,
        "wires": [
            [
                "88a1287d.405168"
            ]
        ]
    },
    {
        "id": "65b70a42.92cb14",
        "type": "delay",
        "z": "f0baf62c.5cb6c8",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 830,
        "y": 340,
        "wires": [
            [
                "136fa931.b58037"
            ]
        ]
    },
    {
        "id": "e34e5ada.fe66c8",
        "type": "comment",
        "z": "f0baf62c.5cb6c8",
        "name": "This is SLOW blinking loop",
        "info": "",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "56ea3f66.6b6b5",
        "type": "trigger",
        "z": "f0baf62c.5cb6c8",
        "op1": "1",
        "op2": "STOP",
        "op1type": "str",
        "op2type": "str",
        "duration": "3",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "cycle_start_stop",
        "x": 620,
        "y": 620,
        "wires": [
            [
                "c4b09c1f.30d4b",
                "f6a2326f.ceded"
            ]
        ]
    },
    {
        "id": "c4b09c1f.30d4b",
        "type": "trigger",
        "z": "f0baf62c.5cb6c8",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-250",
        "extend": false,
        "units": "ms",
        "reset": "STOP",
        "bytopic": "all",
        "name": "send 1",
        "x": 770,
        "y": 640,
        "wires": [
            [
                "9c11efa9.2484a"
            ]
        ]
    },
    {
        "id": "9c11efa9.2484a",
        "type": "file",
        "z": "f0baf62c.5cb6c8",
        "name": "",
        "filename": "/sys/class/leds/led1/brightness",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 1150,
        "y": 640,
        "wires": [
            [
                "111a1e.53dd15e3"
            ]
        ]
    },
    {
        "id": "55f34305.ec23ec",
        "type": "trigger",
        "z": "f0baf62c.5cb6c8",
        "op1": "0",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-250",
        "extend": false,
        "units": "ms",
        "reset": "STOP",
        "bytopic": "all",
        "name": "send 0",
        "x": 930,
        "y": 600,
        "wires": [
            [
                "9c11efa9.2484a"
            ]
        ]
    },
    {
        "id": "f6a2326f.ceded",
        "type": "delay",
        "z": "f0baf62c.5cb6c8",
        "name": "",
        "pauseType": "delay",
        "timeout": "125",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 790,
        "y": 600,
        "wires": [
            [
                "55f34305.ec23ec"
            ]
        ]
    },
    {
        "id": "edb54953.f19e38",
        "type": "comment",
        "z": "f0baf62c.5cb6c8",
        "name": "This is FAST blinking loop",
        "info": "",
        "x": 730,
        "y": 540,
        "wires": []
    },
    {
        "id": "111a1e.53dd15e3",
        "type": "file",
        "z": "f0baf62c.5cb6c8",
        "name": "",
        "filename": "/sys/class/leds/led0/brightness",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 1250,
        "y": 760,
        "wires": [
            []
        ]
    }
]
